<h1>Earnings</h1>
<div class="card-deck">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Yesterday: <%= (@yesterday.last.amt_due - @yesterday.first.amt_due) / 1000000000000.to_f %></li>
      <li class="list-group-item">Today: <%= (@today.last.amt_due - @today.first.amt_due) / 1000000000000.to_f %></li>
    </ul>
  </div>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Day: <%= @earned_1d / 1000000000000.to_f %></li>
      <li class="list-group-item">Week: <%= @earned_1w / 1000000000000.to_f %></li>
      <li class="list-group-item">Month: <%= @earned_1m / 1000000000000.to_f %></li>
    </ul>
  </div>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= @worth["USD"] %> USD</li>
      <li class="list-group-item"><%= @worth["CHF"] %> CHF</li>
      <li class="list-group-item"><%= @worth["EUR"] %> EUR</li>
    </ul>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Earned</th>
      <th>Due</th>
    </tr>
  </thead>
  <tbody>
    <% @earnings.each do |earning| %>
      <tr>
        <td><%= earning[:time].in_time_zone('Europe/Zurich').strftime("%c") %></td>
        <td><%= earning[:earned] %></td>
        <td><%= earning[:due] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="earnings-calendars">
</div>
