<h1>Blocks</h1>
<table class="table">
  <thead>
    <tr>
      <th>Hash</th>
      <th>Diff</th>
      <th>Unlocked</th>
      <th>Value</th>
      <th>Ts</th>
    </tr>
  </thead>
  <tbody>
    <% @monero_blocks.each do |m_block| %>
      <tr class="<%= 'table-danger' unless m_block.b_valid %>">
        <td><%= m_block.hash_id %></td>
        <td><%= m_block.diff %></td>
        <td class="<%= m_block.unlocked ? 'text-success' : 'text-warning' %>"><%= m_block.unlocked %></td>
        <td><%= m_block.b_value %></td>
        <td><%= m_block.ts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
