<h1>
  Dashboard
  <small class="text-muted"><%= @info.hashrate / 1000.to_f %></small>
</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>lts</th>
      <th>Hashrate</th>
      <th>Total Hash</th>
      <th>Valid Shares</th>
      <th>Invalid Shares</th>
    </tr>
  </thead>
  <tbody>
    <% @miners.each do |miner| %>
      <% miner_info = @miner_infos.find { |i| i.miner_id == miner.id } %>
      <tr>
        <td><%= miner.identifier %></td>
        <td><%= Time.at(miner_info.lts).to_datetime %></td>
        <td><%= miner_info.hashrate %></td>
        <td><%= miner_info.total_hash %></td>
        <td><%= miner_info.valid_shares %></td>
        <td><%= [miner_info.invalid_shares || 0, miner_info.invalid_shares || 0].join(" / ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
