<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">MonDashi</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
        <a class="nav-link" href="<%= miners_path %>">Miners<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
        <a class="nav-link" href="<%= earnings_path %>">Earnings</a>
			</li>
			<li class="nav-item">
        <a class="nav-link" href="<%= blocks_path %>">Blocks</a>
			</li>
		</ul>
		<span class="navbar-text">
			The cake is a lie!
		</span>
	</div>
</nav>
